{% extends "controller/_base.html" %}

{% block content %}
<section>
  <div class="collapse show" id="collapsediv1">
    <div class="row">
      <div class="col text-center">
        <div>
          <button id="btn_dir_up" type="button" class="btn3d btn btn-default btn-lg">Up</button>
          <br>
          <button id="btn_yaw_ccw" type="button" class="btn3d btn btn-default btn-lg">Yaw<br>(CCW)</button>
          <button id="btn_yaw_cw" type="button" class="btn3d btn btn-default btn-lg">Yaw<br>(CW)</button>
          <br>
          <button id="btn_dir_down" type="button" class="btn3d btn btn-default btn-lg">Down</button>
        </div>
      </div>
      <div class="col text-center">
        <div>
          <button id="btn_dir_north" type="button" class="btn3d btn btn-default btn-lg">North</button>
          <br>
          <button id="btn_dir_west" type="button" class="btn3d btn btn-default btn-lg">West</button>
          <button id="btn_dir_east" type="button" class="btn3d btn btn-default btn-lg">East</button>
          <br>
          <button id="btn_dir_south" type="button" class="btn3d btn btn-default btn-lg">South</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button id="button_guided" type="button" class="btn3d btn btn-default btn-lg">Guided<br>mode</button>
    </div>
    <div class="col text-center">
      <button id="button_arm" type="button" class="btn3d btn btn-default btn-lg">Arm</button>
    </div>
    <div class="col text-center">
      <button id="button_takeoff" type="button" class="btn3d btn btn-default btn-lg">Takeoff</button>
    </div>
    <div class="col text-center">
      <button id="button_land" type="button" class="btn3d btn btn-default btn-lg">Land<br>Mode</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <label for="yaw_rate" class="form-label">Yaw rate (degrees/s):</label>
      <input type="range" class="form-range" id="yaw_rate" oninput="this.nextElementSibling.value = this.value" min="0"
        max="25" value="0">
      <output>0</output>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <label for="velocity" class="form-label">Velocity(m/s):</label>
      <input type="range" class="form-range" id="velocity" oninput="this.nextElementSibling.value = this.value" min="0"
        max="15" value="0">
      <output>0</output>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch text-center">
        <input class="form-check-input" type="checkbox" id="controller_switch" unchecked>
        <label class="form-check-label" for="controller_switch">Controller</label>
      </div>
    </div>
  </div>

  <br><br>

  <div class="collapse" id="collapsediv2">
    <div class="row text-center">
      <div id="controller_div" class="col">
        <h2 id="start">Move a stick on your controller to start.</h2>
        <br>
        <div id="controllers"></div>
      </div>
    </div>

    <br><br>

    <div class="row text-center
      <div class=" col">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="center_stick" value="center" checked>
        <label class="form-check-label" for="center_stick">
          Center stick is zero throttle
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="full_down_stick" value="full_down">
        <label class="form-check-label" for="full_down_stick">
          Full down stick is zero throttle
        </label>
      </div>
    </div>

    <br><br>

    <div class="row text-center">
      <div class="col">
        <div class="modal fade" id="axis_modal_0" aria-labelledby="axis_modal_Label" tabindex="-1"
          style="display: none;" aria-hidden="true" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="axis_modal_Label_0">Yaw axis calibration</h5>
              </div>
              <div class="modal-body">
                Move the stick along the whole axis you want to associate to Yaw.
              </div>
              <div class="modal-footer">
                <button id="btn_cancel_0" type="button" class="btn btn-secondary cancel-btn"
                  data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-bs-target="#axis_modal_1" data-bs-toggle="modal" id="btn_modal_0"
                  disabled="true">Proceed</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="axis_modal_1" aria-labelledby="axis_modal_Label_1" tabindex="-1"
          style="display: none;" aria-hidden="true" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="axis_modal_Label_1">Throttle axis calibration</h5>
              </div>
              <div class="modal-body">
                Move the stick along the whole axis you want to associate to Throttle.
              </div>
              <div class="modal-footer">
                <button id="btn_cancel_1" type="button" class="btn btn-secondary cancel-btn"
                  data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-bs-target="#axis_modal_2" data-bs-toggle="modal" id="btn_modal_1"
                  disabled="true">Proceed</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="axis_modal_2" aria-labelledby="axis_modal_Label_2" tabindex="-1"
          style="display: none;" aria-hidden="true" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="axis_modal_Label_2">Roll axis calibration</h5>
              </div>
              <div class="modal-body">
                Move the stick along the whole axis you want to associate to Roll.
              </div>
              <div class="modal-footer">
                <button id="btn_cancel_2" type="button" class="btn btn-secondary cancel-btn"
                  data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-bs-target="#axis_modal_3" data-bs-toggle="modal" id="btn_modal_2"
                  disabled="true">Proceed</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="axis_modal_3" aria-labelledby="axis_modal_Label_3" tabindex="-1"
          style="display: none;" aria-hidden="true" data-bs-backdrop="static">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="axis_modal_Label_3">Pitch axis calibration</h5>
              </div>
              <div class="modal-body">
                Move the stick along the whole axis you want to associate to Pitch.
              </div>
              <div class="modal-footer">
                <button id="btn_cancel_3" type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" disabled="true"
                  id="btn_modal_3">Proceed</button>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-warning" id="start_modal_button" type="button">
          New controller detected, click here to start calibration
        </button>

        <button class="btn btn-primary" id="start_controller_commands" type="button">
          Everything's ready, press to start
        </button>

        <div id="mapping">
        </div>

      </div>
    </div>
  </div>

</section>
{% endblock content %}

{% block js %}
<script>
  const commandUrl = "{% url 'command' %}";
  let mappingUrl = "{% url 'get_mapping' 'str' %}";

</script>
{% endblock js %}